body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Default styles for form_container */
.form_container {
  /* Add default styles here */
}

/* Styles for Variation A */
.form_container.variation_A {
  background-color: bisque;
}

/* Styles for Variation B */
.form_container.variation_B {
  background-color: aquamarine;
}
